button {
    font-family: "National Park", sans-serif;
    transition: 300ms;
    color: rgb(99, 99, 99);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(186, 210, 181);
    font-family: "National Park", sans-serif;
    font-optical-sizing: auto;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    display: none;
}

/* Input styles */
#name-form {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

#name-form form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#name {
    margin: 10px 0;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.btn-start {
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-start:active {
    box-shadow: none;
    background: #e0e0e0;
}

/* Main game styles */
@media (max-width: 550px) {
    #main {
        margin: 0;
        padding: 0;
        flex-flow: column-reverse;
        align-items: center;
        min-height: 90vh;
    }

    #rules {
        min-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hint-table {
        min-width: 80px;
        min-height: 25vh;
    }
}

#main {
    max-width: 550px;
    max-height: 800px;
    padding: 30px;
    margin-top: 20px;
    justify-content: space-evenly;
    display: none;
    background-color: rgb(241, 241, 241, 0.5);
    border-radius: 30px;
}

/* Phone styles */
#phone {
    height: 400px;
    width: 200px;
    border: 5px solid black;
    border-radius: 30px;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(241, 241, 241);
    background-position: center;
    /* box-shadow: 4px 4px rgb(63, 63, 63); */
}

#dynamic-island {
    height: 15px;
    width: 60px;
    border-radius: 10px;
    background-color: black;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 300px;
    margin: 0 auto;
}

.btn-number {
    margin: 5px;
    width: 40px;
    height: 40px;
    border: none;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-number:active {
    background: #e0e0e0;
    box-shadow: none;
}

#btn-check {
    height: 30px;
    width: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    background: #f8f8f8;
    border-radius: 10px;
    border: none;
}

#btn-check:active {
    background: #e0e0e0;
    box-shadow: none;
}

/* Hint section styles */
#rules {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#rules p {
    width: 250px;
    margin: 10px 30px;
}

#hints {
    height: 100%;
    width: 100%;
    display: flex;
}

.hint-table {
    margin: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 44, 44, 0.5);
    border-radius: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 5px 0;
    list-style-type: none;
}